<div class="pad-xs">
  <div layout-gt-xs="row" layout-wrap>
    <div flex-gt-xs="100" layout-wrap="">
      <ngx-charts-number-card flex-xs="100" flex-gt-xs="25"
        [scheme]="colorScheme"
        [results]="single">
      </ngx-charts-number-card>
    </div>
    <div flex-gt-xs="50">
      <md-card>
        <md-card-title>Gauge</md-card-title>
        <md-divider></md-divider>
        <div style="height:250px;">
          <ngx-charts-gauge
            [scheme]="colorScheme"
            [results]="single"
            [min]="0"
            [max]="100"
            [units]="'usage'"
            [bigSegments]="10"
            [smallSegments]="5">
          </ngx-charts-gauge>
        </div>
      </md-card>
    </div>
    <div flex-gt-xs="50">
      <md-card>
        <md-card-title>Stacked Horizontal Bars</md-card-title>
        <md-divider></md-divider>
        <div style="height:250px;">
          <ngx-charts-bar-horizontal-stacked
            [scheme]="colorScheme"
            [results]="multi"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel">
          </ngx-charts-bar-horizontal-stacked>
        </div>
      </md-card>
    </div>
    <div flex-gt-xs="50">
      <md-card>
        <md-card-title>Vertical Grouped Bars</md-card-title>
        <md-divider></md-divider>
        <div style="height:250px;">
          <ngx-charts-bar-vertical-2d
            [scheme]="colorScheme"
            [results]="multi"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel">
          </ngx-charts-bar-vertical-2d>
        </div>
      </md-card>
    </div>
    <div flex-gt-xs="50">
      <md-card>
        <md-card-title>Lines</md-card-title>
        <md-divider></md-divider>
        <div style="height:250px;">
          <ngx-charts-line-chart
            [scheme]="colorScheme"
            [results]="multi"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [autoScale]="autoScale">
          </ngx-charts-line-chart>
        </div>
      </md-card>
    </div>
  </div>
</div>
