<div class="md-content" layout="row" layout-wrap="" layout-align="center start">

  <div flex="" layout="row" layout-wrap="" class="pad">

    <md-card-title class="tc-blue-700">Transaction Detail</md-card-title>
    <md-divider></md-divider>
    <md-input type="number" flex="100" placeholder="Amount"></md-input>
    <template let-digit ngFor [ngForOf]="digitsArray">
      <button md-raised-button="" flex="33" layout-padding="" layout-margin="">{{digit}}</button>
    </template>
    <button md-raised-button="" flex="33" class="bold">.</button>
    <button md-raised-button="" flex="33" class="bold">0</button>
    <button md-raised-button="" flex="33"><md-icon>keyboard_backspace</md-icon></button>
  </div>


  <div flex="" layout="row" layout-wrap="" class="pad">
    <md-card-title class="tc-blue-700">Customer Information</md-card-title>
    <md-divider></md-divider>
    <form>
      <div layout="row" layout-margin>
        <md-input-container flex>
          <input md-input placeholder="Name">
        </md-input-container>
        <md-input-container flex>
          <input md-input placeholder="Number" type="number">
        </md-input-container>
      </div>

      <div layout="row" layout-margin>
        <md-input-container flex>
          <textarea md-input placeholder="Address"></textarea>
        </md-input-container>
      </div>
      <div layout="row" layout-margin>
        <md-input-container flex>
          <input md-input placeholder="City">
        </md-input-container>
          <md-input-container flex>
            <input md-input placeholder="Locality">
          </md-input-container>
        <md-input-container flex>
          <input md-input  maxlength="5" placeholder="Postal Code">
        </md-input-container>
      </div>
    </form>
  </div>
</div>

<md-divider></md-divider>
<md-card-actions layout-align="end start" layout="row" class="push-top">
  <button md-raised-button="" color="accent">Print Bill</button>
  <button md-raised-button="" color="accent">Checkout</button>
  <button md-raised-button="" color="accent">Cancel</button>

</md-card-actions>
