<div class="" fxLayout="column">
  <md-card-title class="tc-blue-700" fxLayout="row" fxLayoutWrap="" fxFlex="100">
    <span fxLayout-align="center center" fxLayout="row">
      {{product.name}}
    </span>
    <span fxFlex=""></span>
    <button (click)="close()" md-icon-button="">
      <md-icon class="tc-accent">close</md-icon>
    </button>
  </md-card-title>
  <md-card-subtitle>{{product.mrp ||0 | currency:'INR':true:'1.2-2'}}</md-card-subtitle>
  <md-divider></md-divider>
  <md-card-content>
    <div fxLayout="row" fxLayoutWrap="">
      <h4 *ngIf="product.available_stocks && product.available_stocks.length">Stocks</h4>
      <div fxFlex="100" fxLayout="row" fxLayoutWrap="" *ngIf="product.available_stocks && product.available_stocks.length">
        <md-list *ngFor="let stock of product.available_stocks" fxFlex="">
          <md-list-item>
            <md-icon class="tc-blue-500" md-list-avatar="">local_grocery_store</md-icon>
            <span md-line>Stock Available:&nbsp;{{stock.units_purchased-stock.units_sold}}</span>
            <p md-line>Purchase Date:&nbsp;{{stock.purchase_date}}</p>
            <p md-line>Expiry Date:&nbsp;{{stock.expiry_date}}</p>
            <p md-line>Price:&nbsp;{{stock.selling_amount ||0 | currency:'INR':true:'1.2-2'}}</p>
            <p md-line>Batch#:&nbsp;{{stock.batch_number }}</p>
          </md-list-item>

        </md-list>
      </div>
      <h4 *ngIf="product.salts && product.salts.length">Salts</h4>
      <div fxFlex="100" fxLayout="row" fxLayoutWrap="" *ngIf="product.salts && product.salts.length">
        <md-list *ngFor="let salt of product.salts" fxFlex="">
          <md-list-item>
            <md-icon class="tc-blue-500" md-list-avatar="">healing</md-icon>
            <span md-line>{{salt.name}}</span>
            <p md-line>Name</p>
          </md-list-item>

        </md-list>
      </div>

      <div fxLayout="row" fxLayoutWrap="" class="info-dialog">
        <md-list *ngIf="product.description" fxFlex="50">
          <h4>Description</h4>
          <ng-template let-entry ngFor [ngForOf]="product.description">
            <md-list-item>
              <md-icon class="tc-orange-A400" md-list-avatar="">description</md-icon>
              <span class="md-body-1" md-line>{{entry.value}}</span>
              <p md-line="">{{entry.key}}</p>
            </md-list-item>
          </ng-template>

        </md-list>
        <md-list *ngIf="product.similar_products && product.similar_products.length" fxFlex="50">
          <h4>Similar Products</h4>
          <template let-item ngFor [ngForOf]="products">
            <md-list-item>
              <md-icon class="tc-orange-A400" md-list-avatar="">label_outline</md-icon>
              <span class="md-body-1" md-line>{{item.name}}</span>
              <p md-line="">Price:&nbsp;{{item.mrp | currency:'INR':true:'1.2-2'}}&nbsp;<span fxFlex></span>&nbsp;Stocks:&nbsp;{{item.available_stock||0}}
              </p>
              <p md-line="">
                <template let-salt ngFor [ngForOf]="item.salts"><span>{{salt.name}}&nbsp;</span></template>
              </p>
            </md-list-item>
          </template>

        </md-list>
      </div>

    </div>
  </md-card-content>
</div>
