.small-button {
  box-shadow: none;
  background: transparent;
  border: 0;
}
.pagination {
  position: fixed;
  bottom: 0;
  z-index: 3;
  width: 40%;
  left: 30%;
  right: 25%;
  font-size: 14px;

}
.md-fab-position-bottom-right {
  bottom: 10px;
  position: fixed;

}
.table {
  margin-bottom: 75px;
}
