<div class=" bgc-white-4 push-sm table" fxFlex="100" fxLayoutWrap="" fxLayout="row" fxLayoutAlign="center">

  <div fxLayout="row" fxLayoutAlign="start center" class="pad-left-sm pad-right-sm" fxFlex="100">
      <span class="push-left-sm">
        <span class="md-title">{{title}}</span>
      </span>
    <span fxFlex></span>
    <td-search-box class=" push-right-sm" placeholder="Search Product.."
                   (searchDebounce)="searchProduct($event)" fxFlex="" [showUnderline]="true" [debounce]="500"
                   [alwaysVisible]="true">
    </td-search-box>
    <td-search-box class=" push-right-sm" placeholder="Search Distributor.."
                   (searchDebounce)="searchDistributor($event)" fxFlex="" [showUnderline]="true" [debounce]="500"
                   [alwaysVisible]="true">
    </td-search-box>
  </div>

  <table td-data-table>
    <th td-data-table-column
        *ngFor="let column of columns"
        [sortable]="column.sortable"
        [numeric]="column.numeric"
        (sortBy)="sortBy"
        (sort)="sortOrder"
        (sortChange)="sort(column.name, sortOrder)">
      {{column.label}}
    </th>
    <th td-data-table-column  *ngIf="editRow" [numeric]="true">Details</th>
    <tr td-data-table-row *ngFor="let row of filteredData">
      <td td-data-table-cell *ngFor="let column of columns"
          [numeric]="column.numeric">
        <app-table-row [value]="row" [column]="column" [format]="column.format"></app-table-row>
      </td>
      <td td-data-table-cell  *ngIf="editRow" [numeric]="true">
        <button md-icon-button="" (click)="editRow()"><md-icon color="accent">info</md-icon></button>
      </td>
    </tr>
  </table>
  <div fxLayout="row" fxLayoutWrap="" class="pagination bgc-white-4 tc-black-4 pad-sm md-shadow-bottom-z-1"
       fxLayoutAlign="center center" fxFlex="100">
    <td-paging-bar [pageSizes]="[50, 75, 100]" [total]="filteredTotal"
                   (change)="page($event)"></td-paging-bar>
  </div>


</div>
