<div class="md-content inset" layout="row">
  <div layout="row" layout-align="start start" flex="95" *ngIf="!shop_id">

    <template let-item let-last="last"  ngFor [ngForOf]="shops">

      <md-card flex="25">
        <md-card-title class="tc-accent" layout="row" layout-wrap="">
          {{item.name}}
          <span flex></span>
          <button md-icon-button="" color="accent" (click)="syncData(item.id)">
            <md-icon class="md-36">refresh</md-icon>
          </button>
        </md-card-title>

        <md-card-subtitle>{{item.identity}}</md-card-subtitle>

        <md-divider></md-divider>

        <div md-content layout-align="center center">
          <md-list>
            <md-list-item>
              <md-icon md-list-avatar>attach_money</md-icon>
              <h4 md-line>{{item.total_sales.total_sales || 0| currency:'INR':true:'1.2-2'}}/-</h4>
            </md-list-item>
            <md-list-item>
              <md-icon md-list-avatar>shopping_cart</md-icon>
              <h4 md-line>{{item.total_sales.total_orders}}</h4>
            </md-list-item>
          </md-list>

        </div>
        <md-card-actions layout="row" layout-align="end end">
          <button md-button md-raised-button="" color="accent" (click)="openShop(item)">Open</button>
        </md-card-actions>
      </md-card>
      <md-divider *ngIf="!last"></md-divider>
    </template>
  </div>
  <div flex="95" *ngIf="shop_id">
    <app-carts [shop_id]="shop_id" ></app-carts>
  </div>

  <div flex-shrink layout-align="end end" *ngIf="shop_id" class="push-top push-right">
    <button md-icon-button="" (click)="closeCart()">
      <md-icon color="accent" class="md-48">close</md-icon>
    </button>
  </div>

</div>
