<div class="md-content inset" fxLayout="row">
  <div fxLayout="row" fxLayoutAlign="start start" fxFlex="100" fxLayoutWrap="">

    <ng-template let-item let-last="last"  ngFor [ngForOf]="shops">

      <md-card  fxFlex.gt-xs="45"  fxFlex.gt-lg="33" fxFlex-xs="100" fxFlex-sm="100">
        <md-card-title fxLayout="row" fxLayoutWrap="">
          <span class="tc-accent">{{item.name}}</span>&nbsp;
          <small class="tc-grey-500 md-body-1" *ngIf="shop.id===item.id">(default)</small>
          <span fxFlex></span>
          <button md-icon-button="" color="accent" (click)="syncData(item.id)">
            <md-icon class="md-36">refresh</md-icon>
          </button>
        </md-card-title>

        <md-card-subtitle>{{item.identity}}</md-card-subtitle>

        <md-divider></md-divider>

        <div md-content fxLayoutAlign="left top">
          <md-list>
            <md-list-item>
              <md-icon md-list-avatar>attach_money</md-icon>
              <h4 md-line>{{item.total_sales.total_sales || 0| currency:'INR':true:'1.2-2'}}/-</h4>
            </md-list-item>
            <md-list-item>
              <md-icon md-list-avatar>shopping_cart</md-icon>
              <h4 md-line>{{item.total_sales.total_orders}}</h4>
            </md-list-item>
          </md-list>

        </div>
        <md-divider class="inset"></md-divider>
        <md-card-actions fxLayout="row" fxLayoutAlign="end end">
          <button md-button md-raised-button="" class="font-bold-600" color="accent" (click)="openShop(item)">POS</button>
        </md-card-actions>
      </md-card>
      <md-divider *ngIf="!last"></md-divider>
    </ng-template>
  </div>
</div>
