<div layout="row" layout-wrap="" layout-align="center" class="pad-xs">

    <md-card flex="33" class=" md-shadow-bottom-z-2">
      <md-card-content layout="column" layout-align="center center">
        <md-icon class="md-48" color="primary">D</md-icon>
      </md-card-content>
      <md-toolbar layout="row" layout-align="center center" class="bgc-orange-50">
        <a  style="text-decoration: none">
          <span class="md-title tc-accent">Distributor Wise</span>
        </a>

      </md-toolbar>
    </md-card>

  <md-card flex="33" class=" md-shadow-bottom-z-2">
    <md-card-content layout="column" layout-align="center center">
      <md-icon class="md-48" color="primary">I</md-icon>
    </md-card-content>
    <md-toolbar layout="row" layout-align="center center" class="bgc-orange-50">
      <a  style="text-decoration: none">
        <span class="md-title tc-accent">Item Wise</span>
      </a>

    </md-toolbar>
  </md-card>


</div>
