<div fxLayoutWrap="" fxLayout="column" class="pad-sm">
  <div class="bgc-white-4 pad">
    <td-steps  mode="'vertical'">
      <td-step #step1
               [active]="state===1" [disabled]="disabled" [state]="stateStep1" >
        <ng-template td-step-label><span>Select Shop</span></ng-template>
        <ng-template td-step-actions>
          <div fxLayout="row" fxLayoutWrap="" fxFlex="100">
            <ng-template ngFor [ngForOf]="shops" let-item >
              <md-card class="md-shadow-bottom-z-2" fxFlex="33">
                <md-card-content fxLayout="column" fxLayoutAlign="center center">
                  <md-icon class="md-48" color="primary">{{item.name| truncate:1}}</md-icon>
                </md-card-content>
                <md-toolbar fxLayout="row" fxLayoutAlign="center center" class="bgc-orange-50"
                            (click)="setShop(item);step1.close()" style="cursor: pointer">
                  <a  style="text-decoration: none" >
                    <span class="md-title tc-accent">{{item.name}}</span>
                  </a>

                </md-toolbar>
              </md-card>
            </ng-template>
          </div>
        </ng-template>
        <ng-template td-step-summaryclass="tc-grey-500">
          <!--Shop Selected: {{shop?.name}}-->
        </ng-template>
      </td-step>
      <td-step #step2  [state]="stateStep2" [disabled]="disabled" [active]="state===2">
        <ng-template td-step-label><span>Select Distributor or Item Wise Entry</span></ng-template>
        <ng-template td-step-actions>
          <div fxLayout="row" fxLayoutWrap="" fxFlex="100">
            <md-card fxFlex="33" class=" md-shadow-bottom-z-2">
              <md-card-content fxLayout="column" fxLayoutAlign="center center">
                <md-icon class="md-48" color="primary">D</md-icon>
              </md-card-content>
              <md-toolbar fxLayout="row" fxLayoutAlign="center center" class="bgc-orange-50"
                          (click)="setEntryType('distributor');step2.close()"  style="cursor: pointer">
                <a  style="text-decoration: none">
                  <span class="md-title tc-accent">Distributor Wise</span>
                </a>

              </md-toolbar>
            </md-card>
            <md-card fxFlex="33" class=" md-shadow-bottom-z-2">
              <md-card-content fxLayout="column" fxLayoutAlign="center center">
                <md-icon class="md-48" color="primary">I</md-icon>
              </md-card-content>
              <md-toolbar fxLayout="row" fxLayoutAlign="center center" class="bgc-orange-50"
                          (click)="setEntryType('item');step2.close()" style="cursor: pointer">
                <a  style="text-decoration: none">
                  <span class="md-title tc-accent">Item Wise</span>
                </a>

              </md-toolbar>
            </md-card>
          </div>
        </ng-template>
        <ng-template td-step-summary="">
          Entry Mode Selected: {{entryType}}
        </ng-template>
      </td-step>
      <td-step #step3 label="Add Stock"
               [state]="stateStep3" [disabled]="disabled" [active]="state===3">

        <form fxLayout="row" #addStockForm="ngForm" fxLayoutWrap="" fxFlex="100" *ngIf="shop?.id && entryType =='distributor'">

          <div fxLayout="row" fxFlex="100">
            <div fxFlex="30" class="push-right-md">
              <tag-input [(ngModel)]="distributors" name="distributor" [placeholder]="'Enter Distributor...'"
                         (onAdd)="addDistributor($event)" (onRemove)="removeDistributor($event)"
                         [secondaryPlaceholder]="'Enter Distributor...'" [onlyFromAutocomplete]="true" [maxItems]="1"
              >
                <tag-input-dropdown [autocompleteObservable]='getDistributors'  [appendToBody]="false"
                                    [identifyBy]="'id'"
                                    [displayBy]="'name'">
                  <ng-template let-item="item" let-index="index">
                    {{ item.name }}
                  </ng-template>
                </tag-input-dropdown>
              </tag-input>
            </div>
            <div fxFlex="40" fxLayoutAlign="end end" class="push-right-md">
              <md-input-container fxFlex="100" class="push-right-md">
                <input mdInput type="text" [placeholder]="'Enter Reference Number'" required name="reference_number"
                [(ngModel)]="bill.reference_number">
              </md-input-container>

              <md-input-container  fxFlex="100" class="push-right-md">
                <input mdInput type="date" [placeholder]="'Bill Date'" name="bill_date" required [(ngModel)]="bill.purchase_date">
              </md-input-container>
            </div>

          </div>

          <ng-template ngFor [ngForOf]="stocks" let-item let-i="index">
            <div fxFlex="100" *ngIf="stocks.length">
              <div fxLayoutAlign="start center" fxFlex="50">
                <md-checkbox [checked]="item.add" class="md-body-1" [(ngModel)]="item.add"  [name]="'add_'+i">
                  {{ item?.product?.name | truncate: 40}}
                </md-checkbox>
              </div>
              <md-input-container fxFlex="20" class="push-right-md">
                <input mdInput  placeholder="Quantity" type="number" [name]="'units_purchased'+i" [value]="item.units_purchased"
                       [(ngModel)]="item.units_purchased" min="0" />
              </md-input-container>
              <md-input-container fxFlex="20" class="push-right-md">
                <input mdInput [value]="item.quantity_label" [readOnly]="true" />
              </md-input-container>


            </div>
            <div  fxFlex="100" fxLayoutAlign="end end">

              <md-input-container fxFlex="25" class="push-right-md">
                <input mdInput  placeholder="Purchase Amount" type="number" [name]="'purchase_amount'+i"
                       [(ngModel)]="item.purchase_amount" min="0" [value]="item.purchase_amount"/>
              </md-input-container>
              <md-input-container fxFlex="25" class="push-right-md">
                <input mdInput placeholder="Selling Amount" type="number" min="0" [name]="'selling_amount'+i"
                       [(ngModel)]="item.selling_amount" [value]="item.selling_amount" />
              </md-input-container>
              <md-input-container fxFlex="25" class="push-right-md">
              <input mdInput placeholder="Expiry Date" type="date" [name]="'expiry'+i"
              [(ngModel)]="item.expiry_date" />
              </md-input-container>

              <md-input-container fxFlex="25" class="push-right-md">
              <input mdInput  placeholder="Batch Number" type="text"
              [value]="item.batch_number" name="'batch_'+i" [(ngModel)]="item.batch_number"/>
              </md-input-container>

            </div>

            <!--<div fxLayout="row" fxLayoutWrap="" fxFlex="100" >-->
              <!--<div fxFlex>-->

              <!--</div>-->
              <!--<md-input-container fxFlex="20">-->
                <!--<input mdInput placeholder="Enter Expiry" type="date" [name]="'expiry'+i"-->
                       <!--[(ngModel)]="item.expiry_date" />-->
              <!--</md-input-container>-->

              <!--<md-input-container fxFlex="20">-->
                <!--<input mdInput  placeholder="Enter Barcode Copies" type="number"-->
                       <!--[value]="item.units_purchased" name="'sasas_'+i" [(ngModel)]="item.copies"-->
                        <!--min="0" />-->
              <!--</md-input-container>-->
              <!--<button md-raised-button="" color="primary">Print</button>-->
            <!--</div>-->

          </ng-template>

            <md-card-actions fxLayout="row" fxLayoutAlign="center center" fxFlex class="push-top">
              <button md-fab="" md-tooltip="cancel"
                      (click)="close()" color="accent">
                <md-icon>close</md-icon>
              </button>
              <span class="pad"></span>
              <button md-fab="" [disabled]="!addStockForm.form.valid"
                      (click)="saveBill()"  color="primary" md-tooltip="save"
              ><md-icon>done</md-icon>
              </button>

            </md-card-actions>

        </form>


        <form fxLayout="row" fxLayoutWrap="" fxFlex="100" *ngIf="shop?.id && entryType =='item'" #stockForm="ngForm">

          <div fxLayout="row" fxFlex="100">
            <div fxFlex>
              <tag-input [(ngModel)]="products" name="product" [placeholder]="'Enter Product...'"
                         (onAdd)="addProduct($event)" (onRemove)="removeProduct($event)"
                         [secondaryPlaceholder]="'Enter Product...'" [onlyFromAutocomplete]="true" [maxItems]="1"
              >
                <tag-input-dropdown [autocompleteObservable]='getProducts'  [appendToBody]="false"
                                    [identifyBy]="'id'"
                                    [displayBy]="'name'">
                  <ng-template let-item="item" let-index="index">
                    {{ item.name }}
                  </ng-template>
                </tag-input-dropdown>
              </tag-input>
            </div>

          </div>

          <ng-template ngFor [ngForOf]="stocks" let-item let-i="index">
            <div fxLayout="row" fxLayoutWrap="" fxFlex="100" >
              <md-input-container fxFlex>
                <input mdInput [disabled]="true" [readOnly]="true" [value]="item.product.name" />
              </md-input-container>
              <md-input-container fxFlex>
                <input mdInput  placeholder="Enter Quantity" type="number" [name]="'units_purchased'+i" [value]="item.units_purchased"
                       [(ngModel)]="item.units_purchased" min="0" required/>
              </md-input-container>
              <md-input-container fxFlex>
                <input mdInput  placeholder="Enter Purchase Amount" type="number" [name]="'purchase_amount'+i"
                       [(ngModel)]="item.purchase_amount" min="0" [value]="item.purchase_amount" required/>
              </md-input-container>
              <md-input-container fxFlex>
                <input mdInput placeholder="Enter Selling Amount" type="number" min="0" [name]="'selling_amount'+i"
                       [(ngModel)]="item.selling_amount" [value]="item.selling_amount" required />
              </md-input-container>
              <md-input-container fxFlex>
                <input mdInput placeholder="Enter Expiry" type="date" [name]="'expiry'+i" required
                       [(ngModel)]="item.expiry_date" />
              </md-input-container>
            </div>

          </ng-template>
          <div fxLayout="row" fxLayoutAlign="center center" fxFlex="100" *ngIf="products.length">
            <md-card-actions fxLayout="row" fxLayoutAlign="center center" fxFlex class="push-top">
              <button md-icon-button="" md-fab="" md-raised-button="" md-tooltip="cancel"
                      (click)="step3.close()()" class="pad-xs push-xs" color="warn">
                <md-icon  class="md-24" >close</md-icon>
              </button>
              <span class="pad"></span>
              <button md-icon-button="" md-fab="" md-raised-button=""  [disabled]="!stockForm.form.valid"
                      (click)="saveProductStock()" class="pad-xs push-xs"  color="accent" md-tooltip="save"
              ><md-icon class="md-24" >done</md-icon>
              </button>

            </md-card-actions>
          </div>
        </form>

      </td-step>
    </td-steps>
  </div>

</div>


