<div fxLayout="row" class="bgc-white-4" fxLayoutWrap="">
  <md-card-title fxFlex="100" fxLayout="row" fxLayoutAlign="center center" class="md-title">Brand Form
  </md-card-title>
  <form fxFlex="100" class="" #brandForm="ngForm">
    <div fxLayout="row" fxLayout-margin>
      <md-input-container fxFlex>
        <input mdInput placeholder="Brand Name" minlength="1" maxlength="55" required [value]="brand.name || ''"
               [(ngModel)]="brand.name" name="name">
        <md-hint align="end">{{brand.name?brand.name.length:0}} / 55</md-hint>
      </md-input-container>
    </div>


    <div fxLayout="row" fxLayout-margin>
      <div fxFlex *ngIf="!brand.retail_shop_id" fxLayoutAlign="center center" fxLayout-margin>
        <md-select mdInput placeholder="Select a Shop" [(ngModel)]="brand.retail_shop" name="shop" fxFlex>
          <md-option *ngFor="let shop of shops" [value]="shop">
            {{shop.name}}
          </md-option>
        </md-select>
      </div>
      <md-input-container fxFlex *ngIf="brand.retail_shop_id">
        <input mdInput [value]="brand.retail_shop.name" [readOnly]="true" [disabled]="true" type="text">
      </md-input-container>
    </div>
    <div fxfxLayout="row" fxfxLayoutGap="20px">
      <div fxfxFlex>
        <tag-input [(ngModel)]="distributors" name="distributor" [placeholder]="'Enter Distributor...'"
                   (onAdd)="addDistributor($event)" (onRemove)="removeDistributor($event)"
                   [secondaryPlaceholder]="'Enter Distributor...'" [onlyFromAutocomplete]="true" [maxItems]="5"
                   [identifyBy]="'id'"
                   [displayBy]="'name'">
          <tag-input-dropdown [autocompleteObservable]='getDistributors' [appendToBody]="false"
                              [identifyBy]="'id'"
                              [displayBy]="'name'">
            <template let-item="item" let-index="index">
              {{ item.name }}
            </template>
          </tag-input-dropdown>
        </tag-input>
      </div>
    </div>

  </form>
  <md-card-actions fxLayout="row" fxLayoutAlign="center center" fxFlex class="push-top">
    <button md-fab="" md-tooltip="cancel"
            (click)="close()" color="accent">
      <md-icon >close</md-icon>
    </button>
    <span class="pad"></span>
    <button md-fab="" md-tooltip="undo"
            (click)="cancelState()" color="warn">
      <md-icon >undo</md-icon>
    </button>
    <span class="pad"></span>
    <button md-fab="" [disabled]="!brandForm.form.valid"
            (click)="saveState()" color="primary" md-tooltip="save"
    >
      <md-icon >done</md-icon>
    </button>

  </md-card-actions>

</div>
