.pagination {
  position: fixed;
  bottom: 0;
  z-index: 3;
  font-size: 14px;

}
.md-fab-position-bottom-right {
  bottom: 10px;
  position: fixed;

}

.edit-button {
  right: 100px;
}
.close-button {
  position: fixed;
  z-index: 25;
  top: 80px;
  right: 25px;
}
.small-button {
  box-shadow: none;
  background: transparent;
  border: 0;
}
