
<div fxLayout="row" fxLayoutAlign="center center" fxLayoutWrap class="push" *ngIf="shop.id">
  <md-card fxFlex="100">
    <md-card-title>Printer Config</md-card-title>
    <md-card-subtitle>{{shop?.name}}</md-card-subtitle>
    <md-divider></md-divider>
    <md-card-content>
      <div fxLayoutMargin fxLayoutPadding fxFlex>
        <md-input-container fxFlex>
          <input mdInput [(ngModel)]="shop.printer_config.bill_printer_type" placeholder="Bill Printer Type" />
        </md-input-container>
        <md-input-container fxFlex>
          <input mdInput [(ngModel)]="shop.printer_config.receipt_printer_type" placeholder="Receipt Printer Type" />
        </md-input-container>
      </div>
      <div fxLayoutMargin fxLayoutPadding fxFlex>
        <md-input-container fxFlex>
          <input mdInput [(ngModel)]="shop.printer_config.label_printer_type" placeholder="label Printer Config" />
        </md-input-container>
      </div>
      <div fxLayoutMargin fxLayoutPadding fxFlex>
        <div fxFlex fxLayoutMargin fxLayoutPadding>
          <md-checkbox mdInput [checked]="shop.printer_config.have_bill_printer"
                       [(ngModel)]="shop.printer_config.have_bill_printer"></md-checkbox>
          Print Bill
        </div>
        <div fxFlex fxLayoutMargin fxLayoutPadding>
          <md-checkbox  mdInput [checked]="shop.printer_config.have_receipt_printer"
                       [(ngModel)]="shop.printer_config.have_receipt_printer"></md-checkbox>
          Print Receipt
        </div>
      </div>

    </md-card-content>
  </md-card>
  <div fxLayout="row" fxLayoutWrap fxLayoutAlign="center center">
    <md-card fxFlex="">
      <md-card-title>Receipt Template Editor</md-card-title>
      <md-divider></md-divider>
      <md-card-content >

        <ckeditor
          [(ngModel)]="shop.printer_config.receipt_template">
          <ckbutton [name]="'saveButton'"
                    [command]="'saveCmd'"
                    (click)="save($event)"
                    [icon]="'save.png'"
                    [label]="'Save Document'"
                    [toolbar]="'clipboard,1'">
          </ckbutton>
        </ckeditor>


      </md-card-content>

    </md-card>
    <md-card fxFlex="">
      <md-card-title>Bill Template Editor</md-card-title>
      <md-divider></md-divider>
      <md-card-content >

        <ckeditor
          [(ngModel)]="shop.printer_config.bill_template">
          <ckbutton [name]="'saveButton'"
                    [command]="'saveCmd'"
                    (click)="save($event)"
                    [icon]="'save.png'"
                    [label]="'Save Document'"
                    [toolbar]="'clipboard,1'">
          </ckbutton>
        </ckeditor>


      </md-card-content>

    </md-card>
  </div>

</div>
