<div fxLayout="row" fxLayoutAlign="center center" fxLayoutWrap class="push" *ngIf="shop.id">
  <md-card fxFlex="100">
    <md-card-title>Printer Config</md-card-title>
    <md-card-subtitle>{{shop?.name}}</md-card-subtitle>
    <md-divider></md-divider>
    <md-card-content fxLayout="row" fxLayoutWrap class="push-top-md">
      <div fxLayoutGap="20px" fxFlex="100" class="push-top-lg push-bottom-sm">

        <md-select mdInput placeholder="Bill Printer Type" [(ngModel)]="printerConfig.bill_printer_type"
                   name="bill_printer" fxFlex>
          <md-option [value]="'thermal'">Thermal</md-option>
          <md-option [value]="'dot_matrix'">Dot Matrix</md-option>
          <md-option [value]="'laser'">Laser</md-option>

        </md-select>

        <md-select mdInput placeholder="Bill Printer Type" [(ngModel)]="printerConfig.receipt_printer_type"
                   name="receipt_printer" fxFlex>
          <md-option [value]="'thermal'">Thermal</md-option>
          <md-option [value]="'dot_matrix'">Dot Matrix</md-option>
          <md-option [value]="'laser'">Laser</md-option>

        </md-select>

      </div>
      <div fxLayoutGap="20px" fxFlex="100">
        <md-input-container fxFlex>
          <input mdInput [(ngModel)]="printerConfig.label_printer_type" placeholder="Label Printer Config"/>
        </md-input-container>
      </div>
      <div fxLayoutGap="20px" fxFlex="100">
        <div fxFlex fxLayoutGap="20px">
          <md-checkbox mdInput [checked]="printerConfig.have_bill_printer"
                       [(ngModel)]="printerConfig.have_bill_printer"></md-checkbox>
          Print Bill
        </div>
        <div fxFlex fxLayoutGap="20px">
          <md-checkbox mdInput [checked]="printerConfig.have_receipt_printer"
                       [(ngModel)]="printerConfig.have_receipt_printer"></md-checkbox>
          Print Receipt
        </div>
      </div>

    </md-card-content>
  </md-card>
  <div fxLayout="row" fxLayoutWrap fxLayoutAlign="center center">
    <md-card fxFlex="">
      <md-card-title>Receipt Template Editor</md-card-title>
      <md-divider></md-divider>
      <md-card-content>

        <ckeditor
          [(ngModel)]="printerConfig.receipt_template">
          <ckbutton [name]="'saveButton'"
                    [command]="'saveCmd'"
                    (click)="save($event)"
                    [icon]="'save.png'"
                    [label]="'Save Document'"
                    [toolbar]="'clipboard,1'">
          </ckbutton>
        </ckeditor>


      </md-card-content>

    </md-card>
    <md-card fxFlex="">
      <md-card-title>Bill Template Editor</md-card-title>
      <md-divider></md-divider>
      <md-card-content>

        <ckeditor
          [(ngModel)]="printerConfig.bill_template">
          <ckbutton [name]="'saveButton'"
                    [command]="'saveCmd'"
                    (click)="saveState()"
                    [icon]="'save.png'"
                    [label]="'Save Document'"
                    [toolbar]="'clipboard,1'">
          </ckbutton>
        </ckeditor>


      </md-card-content>

    </md-card>
  </div>

  <md-card-actions fxLayout="row" fxLayoutAlign="center center" fxFlex class="push-top">

    <button  md-fab md-tooltip="undo"
             (click)="cancelState()" color="warn">
      <md-icon class="md-24">undo</md-icon>
    </button>
    <span class="pad"></span>
    <button md-fab
            (click)="saveState()" color="primary" md-tooltip="save"
    >
      <md-icon class="md-24">done</md-icon>
    </button>

  </md-card-actions>

</div>
