<td-layout-nav logo="assets:logo" class="bgc-white-5">
  <div td-toolbar-content layout="row" layout-align="start center" flex>
    <span hide-xs>Postica</span>
    <span flex></span>
    <app-user></app-user>
  </div>


  <div td-toolbar-button layout="row" class="bgc-white-4 md-shadow-bottom-z-1 push-sm" layout-wrap="">
    <div layout="row" layout-align="center center" flex="">
      <app-back-button></app-back-button>
    </div>


    <button md-button="" color="primary" flex-gt-xs="" class="font-bold-600" (click)="toggleFilter(1)">Tags</button>
    <button md-button="" color="primary" flex-gt-xs="" class="font-bold-600" (click)="toggleFilter(2)">Brands</button>
    <button md-button="" color="primary" flex-gt-xs="" class="font-bold-600" (click)="toggleFilter(3)">Distributors
    </button>
    <button md-button="" color="primary" flex-gt-xs="" class="font-bold-600" (click)="toggleFilter(4)">Salts</button>

    <div class="filter-card-parent" [hidden]="filterType!=1">
      <md-card flex-xs="33" flex-gt-xs="100">
        <md-card-title class="font-bold-500">Tags</md-card-title>
        <md-divider></md-divider>
        <md-card-content class="md-content filter-card-height"
                         [ngClass]="{'filter-card-mobile': media.registerQuery('xs') | async}">
          <div layout="" layout-wrap="" layout-align="start">
            <td-search-box backIcon="arrow_back" placeholder="Search here" [showUnderline]="true" [debounce]="500"
                           [alwaysVisible]="true" flex="100"
                           (search)="term = $event" (clear)="term = null">
            </td-search-box>
          </div>
          <div layout="row" layout-wrap="">
            <template let-tag ngFor [ngForOf]="tags | filter: term">
              <label layout="row" layout-wrap="" flex-xs="33" flex-gt-sm="25" flex-gt-lg="20">
                <input layout-padding="" type="checkbox" [value]="tag.name" class="push-sm"
                       [checked]="checkTag(tag)" (change)="toggleTag(tag)"/>
                <span class="tc-grey-800 md-caption push-top-sm">{{tag.name |truncate:15}}</span>
              </label>
            </template>
          </div>
        </md-card-content>
        <md-divider></md-divider>
        <md-card-actions layout="row" layout-align="end center">
          <button md-raised-button="" color="warn" (click)="clearFilter(0)">Clear</button>
          <button md-raised-button="" color="accent" (click)="toggleFilter(0)">Close</button>
        </md-card-actions>
      </md-card>
    </div>
    <div class="filter-card-parent" [hidden]="filterType!=2">
      <md-card flex-xs="33" flex-gt-xs="100">
        <md-card-title class="font-bold-500">Brands</md-card-title>
        <md-divider></md-divider>
        <md-card-content class="md-content filter-card-height"
                         [ngClass]="{'filter-card-mobile': media.registerQuery('xs') | async}">
          <div layout="" layout-wrap="" layout-align="start">
            <td-search-box backIcon="arrow_back" placeholder="Search here" [showUnderline]="true" [debounce]="500"
                           [alwaysVisible]="true" flex="100"
                           (search)="term = $event" (clear)="term = null">
            </td-search-box>
          </div>
          <div layout="row" layout-wrap="">
            <template let-brand ngFor [ngForOf]="brands | filter: term">
              <label layout="row" flex-xs="33" flex-gt-sm="25" flex-gt-lg="20">
                <input class="push-sm" [checked]="checkBrand(brand.id)" type="checkbox"
                       (change)="toggleBrand(brand.id)"/>
                <span class="tc-grey-800 md-caption push-top-sm">{{brand.name |truncate:15}}</span>
              </label>
            </template>
          </div>
        </md-card-content>
        <md-divider></md-divider>
        <md-card-actions layout="row" layout-align="end center">
          <button md-raised-button="" color="warn" (click)="clearFilter(1)">Clear</button>
          <button md-raised-button="" color="accent" (click)="toggleFilter(0)">Close</button>
        </md-card-actions>
      </md-card>
    </div>
    <div class="filter-card-parent" [hidden]="filterType!=3">
      <md-card flex-xs="33" flex-gt-xs="100" class="filter-card">
        <md-card-title class="font-bold-500">Distributor</md-card-title>
        <md-divider></md-divider>
        <md-card-content class="md-content filter-card-height"
                         [ngClass]="{'filter-card-mobile': media.registerQuery('xs') | async}">
          <div layout="" layout-wrap="" layout-align="start">
            <td-search-box backIcon="arrow_back" placeholder="Search here" [showUnderline]="true" [debounce]="500"
                           [alwaysVisible]="true" flex="100"
                           (search)="termD = $event" (clear)="termD = null">
            </td-search-box>
          </div>
          <div layout="row" layout-wrap="">
            <template let-distributor ngFor [ngForOf]="distributors | filter: termD">
              <label layout="row" flex-xs="33" flex-gt-sm="25" flex-gt-lg="20">
                <input class="push-sm" [checked]="checkDistributor(distributor.id)" type="checkbox"
                       [value]="distributor.name"
                       (change)="toggleDistributor(distributor.id)"/>
                <span class="tc-grey-800 md-caption push-top-sm">{{distributor.name |truncate:15}}</span>
              </label>
            </template>
          </div>
        </md-card-content>
        <md-divider></md-divider>
        <md-card-actions layout="row" layout-align="end center">
          <button md-raised-button="" color="warn" (click)="clearFilter(2)">Clear</button>
          <button md-raised-button="" color="accent" (click)="toggleFilter(0)">Close</button>
        </md-card-actions>
      </md-card>
    </div>
    <div class="filter-card-parent" [hidden]="filterType!=4">
      <md-card class="filter-card" flex-xs="33" flex-gt-xs="100">
        <md-card-title class="font-bold-500">Salts</md-card-title>
        <md-divider></md-divider>
        <md-card-content class="md-content filter-card-height"
                         [ngClass]="{'filter-card-mobile': media.registerQuery('xs') | async}">
          <div layout="" layout-wrap="" layout-align="start">
            <td-search-box backIcon="arrow_back" placeholder="Search here" [showUnderline]="true" [debounce]="500"
                           [alwaysVisible]="true" flex="100"
                           (search)="term = $event" (clear)="term = null">
            </td-search-box>
          </div>
          <div layout="row" layout-wrap="">
            <template let-salt ngFor [ngForOf]="salts | filter: term">
              <label layout="row" flex-xs="33" flex-gt-sm="25" flex-gt-lg="20">
                <input class="push-sm" [checked]="checkSalt(salt.id)" type="checkbox"
                       (change)="toggleSalt(salt.id)"/>
                <span class="tc-grey-800 md-caption push-top-sm">{{salt.name |truncate:15}}</span>
              </label>
            </template>
          </div>
        </md-card-content>
        <md-divider></md-divider>
        <md-card-actions layout="row" layout-align="end center">
          <button md-raised-button="" color="warn" (click)="clearFilter(3)">Clear</button>
          <button md-raised-button="" color="accent" (click)="toggleFilter(0)">Close</button>
        </md-card-actions>
      </md-card>
    </div>
    <span flex hide-xs></span>
    <div flex-gt-xs="30" flex-xs="70">
      <td-search-box backIcon="arrow_back" placeholder="Search here" [showUnderline]="true" [debounce]="500"
                     [alwaysVisible]="true"
                     (search)="searchInputTerm = $event" (clear)="searchInputTerm = null">
      </td-search-box>

      <!--<div layout="row">-->
        <!--<md-input-container flex="50">-->
          <!--<input mdInput placeholder="State" [mdAutocomplete]="tdAuto" [(ngModel)]="currentState" #modelDir="ngModel"-->
                 <!--(ngModelChange)="this.tdStates = filterStates(currentState)" [disabled]="tdDisabled">-->
        <!--</md-input-container>-->
      <!--</div>-->

    </div>
    <span flex hide-xs></span>
    <button md-button class="font-bold-500" flex-xs="40" hide-gt-xs=""
            layout-margin="" (click)="checkOut()">
        <span class="tc-accent md-title font-bold-500">
        {{cart?.total - cart?.auto_discount ||0 | currency:'INR':true:'1.2-2'}}/-
        </span>
    </button>
    <div class="" layout="row" layout-align="end" flex-gt-xs="20" flex-xs="60">
      <button md-raised-button="" color="accent" class="font-bold-600" flex="50" style="border-radius: 0"
              layout-margin="" (click)="quickCheckOut()" [disabled]="!cart?.items.length">
        <md-icon class="md-24">add_shopping_cart</md-icon>
      </button>
      <button md-raised-button="" color="primary" class="font-bold-600" flex="50"
              style="border-radius: 0" [disabled]="!cart?.items.length"
              layout-margin="" (click)="checkOut()">
        <md-icon class="md-24">account_box</md-icon>
      </button>
    </div>


  </div>


  <div layout="row" layout-wrap="" class="push-sm" flex>
    <div layout="row" layout-wrap="" flex layout-align="start">
      <!--<div class="md-content md-shadow-bottom-z-1" flex="100" md-scroll-y="" layout-fill="" layout="row" layout-wrap=""-->
      <!--layout-align="center center">-->
      <template let-product ngFor let-last
                [ngForOf]="products  | filter: searchInputTerm
                   | productBrand : selectedBrands | productTag: selectedTags |  productDistributor: selectedDistributors|
                    productSalt: selectedSalts | paginate : {itemsPerPage: itemsPerPage, currentPage: p}">
        <div class="md-content product-card bgc-white-4 push-right-sm push-bottom-sm md-shadow-bottom-z-1"
             layout="row" layout-wrap="" layout-align="center start"
             [ngClass]="{'out-of-stock': product.available_stock<1}" *ngIf="!product.is_disabled"
             flex-xs="30" flex-sm="33" flex-gt-md="15">
          <div flex="100" layout="row">
            <div flex="90" layout="column" class="pad-xs product-click text-center"
                 (click)="addProduct(product, product.available_stocks[0],
                  product.default_quantity?product.default_quantity:product.is_loose?0.1:1)"
                 layout-align="center center">
              <span class="tc-primary md-caption font-bold-500" [md-tooltip]="product.name">
              {{product.name | truncate: 30: true}}
              </span>
            </div>
            <span (click)="showInfo(product)" class="info-click pad-top-xs pad-right-xs"><md-icon
              class="md-18 tc-accent">info_outline</md-icon>
            </span>
          </div>
          <span class="md-caption tc-grey-600 pad-bottom-xs">
            ({{ product.available_stock<1?'Out of Stock':product.brand?.name}})
          </span>

        </div>
      </template>

      <div flex="100" layout="row" layout-align="center center" class=" tc-grey-700">
        <pagination-controls (pageChange)="p = $event" [maxSize]="(media.registerQuery('xs')|async)?3:9"
                             directionLinks="true"
                             autoHide="true"
        ></pagination-controls>
      </div>
    </div>
    <div layout="column" flex="20" flex-gt-lg="25" flex-xl="20" flex-md="30"  flex-gt-sm="30" flex-sm="50" flex-xs="100">
      <div class="md-content bgc-white-4 " md-scroll-y="" flex-grow>
        <md-list>
          <template let-item ngFor let-last [ngForOf]="cart?.items">
            <div layout="row" layout-wrap="" class="push-sm product-list">
              <span md-line flex="55" class="tc-grey-700 md-body-2"
                    style="word-break: break-all">
                {{item.name |truncate: 20}}
              </span>
              <div layout="row" layout-wrap="" flex="45">
                <button md-icon-button="" class="bgc-white-1 pull-top-sm " flex="20"
                        (click)="updateProductQuantity(item.product_id, item.stock_id, item.quantity+item.default_quantity)">
                  <md-icon class="bgc-accent md-24" color="accent">add_circle_outline</md-icon>
                </button>
                <span flex></span>
                <md-input-container class="md-body-2 tc-grey-700 pull-top" flex="50">
                  <input md-input type="number" ([value])="item.quantity" [(ngModel)]="item.quantity"
                         class="text-center" [step]="item.default_quantity"
                         (change)="updateProductQuantity(item.product_id, item.stock_id, item.quantity)"/>
                </md-input-container>
                <span flex></span>
                <button md-icon-button="" class="bgc-white-1 pull-top-sm" flex="20"
                        (click)="updateProductQuantity(item.product_id, item.stock_id, item.quantity-item.default_quantity)">
                  <md-icon class="bgc-accent md-24" color="accent">remove_circle_outline</md-icon>
                </button>
              </div>
            </div>
            <div layout="row" layout-wrap="" class="push-bottom-sm bgc-blue-100">
              <del  flex class="md-body-1 tc-grey-600" layout="row" layout-align="center center">
              {{item.total_price | currency:'INR':true:'1.2-2'}}/-
              </del>
              <span flex class="md-body-1 tc-accent" layout="row" layout-align="center center">
              {{item.discounted_total_price | currency:'INR':true:'1.2-2'}}/-
              </span>
              <span class="push-sm">
                <button md-icon-button="" class="bgc-white-1" md-tooltip="discount"
                        (click)="discountItem(item.product_id, item.stock_id, item.discount)">
                <md-icon class="tc-warn">money_off</md-icon>
              </button>
              </span>
              <span class="push-sm">
              <button md-icon-button="" class="bgc-white-1 push-sm" md-tooltip="remove"
                      (click)="removeProduct(item.product_id, item.stock_id)">
                <md-icon class="tc-warn">close</md-icon>
              </button>
              </span>
            </div>
          </template>
        </md-list>
      </div>
      <div class="bgc-white-4 md-content pad-sm tc-grey-700 md-caption font-bold-500" flex="35"
           md-scroll-y="" layout="row"
           layout-wrap="">
        <div flex="100" layout-wrap="" layout="row" class="font-bold-500">

          <span>Sub Total</span>
          <span flex></span>
          <span>{{cart?.sub_total | currency:'INR':true:'1.2-2'}}</span>
        </div>
        <template let-entry ngFor [ngForOf]="cart?.taxes | keys">
          <div flex="100" layout-wrap="" layout="row" *ngIf="entry.key!=='total'">
            <span>{{entry.key}}</span>
            <span flex></span>
            <span>{{entry.value | currency:'INR':true:'1.2-2'}}</span>
          </div>
        </template>

        <div flex="100" layout-wrap="" layout="row">
          <span>Discount</span>
          <span flex></span>
          <span>{{cart?.auto_discount | currency:'INR':true:'1.2-2'}}</span>
        </div>
        <div flex="100" layout-wrap="" layout="row" class="font-bold-500">
          <label>Add. %</label>
          <span flex></span>
          <input md-input type="number" flex="30" min="0" max="100" ([value])="cart.discounts[0].value"
                 [(ngModel)]="cart?.discounts[0].value" class="text-right"
                 (change)="updateOrderDiscount(cart.discounts[0].value)"/>
        </div>

        <div flex="100" layout-wrap="" layout="row" class="md-subhead font-bold-500 push-top-sm">
          <md-divider class="pad-xs" flex="100"></md-divider>
          <span>Total</span>
          <span flex></span>
          <span>{{cart?.total | currency:'INR':true:'1.2-2'}}</span>
        </div>
      </div>

    </div>
  </div>
</td-layout-nav>




