.filter-card-height{
  max-height: 400px;
  min-width: 750px;
}

.filter-card-parent{
  position: absolute;
  left: 85px;
  top:65px;
  z-index: 3;
}


.Icon-Button {
  [md-icon-button], [md-mini-fab] {
    height: 0;
    width: 10px;
    line-height: 0;
  }
}

.product-click{
    cursor: pointer;
}

.info-click {
  cursor: pointer;
}
.bold {
  font-weight: bold;
}

.search-margin{
  margin-top: -20px;
  padding:12px;
}
.divider-margin {
  margin-top: 12px;
}

md-card>:first-child {
  margin-top: 4px;
}

.bgc-whitesmoke{
  background: whitesmoke;
}
.input-wrapper{
  margin: 0;
  .md-input-wrapper{
    margin: 0;
  }
}
.product-list {
  line-height: 32px;
}

[md-icon-button] {
  width: 32px;
  height: 32px;
  line-height: 32px;
}
.bgc-white-5 {
  background: #e0e0e0;
}
.product-card{
  max-height: 100px;
  border: 1px orange solid;
}

.out-of-stock {
  opacity: 0.65;
  border: 1px red solid;

}
