<div >

    <md-card-title class="font-bold-500">Brands</md-card-title>
    <md-divider></md-divider>
    <md-card-content class="md-content filter-card-height">
      <div fxLayout="" fxLayoutWrap="" fxLayoutAlign="start">
        <td-search-box backIcon="arrow_back" placeholder="Search here" [showUnderline]="true" [debounce]="500"
                       [alwaysVisible]="true" fxFlex="100"
                       (search)="getBrands($event);term = $event" (clear)="getBrands();term = null">
        </td-search-box>
      </div>
      <div fxLayout="row" fxLayoutWrap="">
        <template let-brand ngFor [ngForOf]="brands">

          <label fxLayout="row" fxFlex.xs="33" fxFlex.gt-sm="25" fxFlex.gt-lg="20">
            <input class="push-sm" [checked]="checkBrand(brand.id)" type="checkbox"
                   (change)="toggleBrand(brand.id)"/>
            <span class="tc-grey-800 md-caption push-top-sm">{{brand.name |truncate:15}}</span>
          </label>
        </template>
      </div>
      <div  fxLayout="row" fxLayoutAlign="center center" class=" tc-grey-700">
        <td-paging-bar #pagingBrand pageSizeAllText="allText" [firstLast]="true" [pageSizeAll]="true"
                       [pageSizes]="[12, 24, 36, 48, 54, 60, 66]"
                       [initialPage]="1" [pageSize]="brandsPerPage" [total]="totalBrands" (change)="getBrands(term, $event)">
          <span td-paging-bar-label hide-xs>Row per page:</span>
          {{pagingBrand.range}} <span hide-xs>of {{pagingBrand.total}}</span>
        </td-paging-bar>
      </div>
    </md-card-content>
    <md-divider></md-divider>
    <md-card-actions fxLayout="row" fxLayoutAlign="end center">
      <button md-raised-button="" color="warn" (click)="clearFilter()">Clear</button>
      <button md-raised-button="" color="accent" (click)="close()">Close</button>
    </md-card-actions>

</div>
