<div layout="row" layout-wrap="">

  <md-card-title class="tc-blue-700" layout="row" flex="100">{{customer.name}}<span flex></span>
    <button md-icon-button="" color="accent" (click)="close()">
      <md-icon>close</md-icon>
    </button>
  </md-card-title>
  <md-card-subtitle flex="100" class="md-title">Number: {{customer.mobile_number}}</md-card-subtitle>
  <md-divider class="inset" flex="100"></md-divider>
  <md-card-content flex="100" layout="row" layout-wrap="">

    <div layout="row" flex="100" layout-wrap="" layout-align="center center" layout-margin="" layout-padding="">
      <form #amountForm="ngForm" layout="row">
        <md-input-container flex="50">
          <input md-input [(ngModel)]="transaction.amount" [value]="null" name="amount" min="0" required
                 placeholder="Enter Amount"/>
        </md-input-container>
        <div layout-margin="" flex="50">
          <button md-raised-button="" color="primary" [disabled]="!amountForm.valid" (click)="addAmount()">
            Add
          </button>
        </div>
      </form>
    </div>

    <div layout="row" flex="50" layout-wrap="" layout-align="start start">
      <md-card flex="100">
        <div layout-padding class="tc-blue-700 md-title">Addresses</div>
        <md-divider></md-divider>
        <md-list>
          <template [ngForOf]="customer.addresses" ngFor let-item>
            <md-list-item>
              <md-icon md-list-avatar>home</md-icon>
              <h4 md-line>{{item.name}}</h4>
            </md-list-item>
            <md-divider></md-divider>
          </template>
        </md-list>
      </md-card>
    </div>
    <div layout="row" flex="50" layout-wrap="" layout-align="start start">
      <md-card flex="100">
        <div layout-padding class="tc-blue-700 md-title">Transactions</div>
        <md-divider></md-divider>
        <md-list>
          <template [ngForOf]="customer.transactions" ngFor let-item>
            <md-list-item>
              <md-icon md-list-avatar>attach_money</md-icon>
              <h4 md-line>{{item.amount}}</h4>
              <span flex></span>
              <span class="tc-grey-500">{{item.created_on | date: 'shortDate'}}</span>
            </md-list-item>
            <md-divider></md-divider>
          </template>
        </md-list>
      </md-card>
    </div>
  </md-card-content>
</div>
