
<div layout="column">
  <div layout="row" class="bgc-white-4" layout-wrap="">
    <md-card-title flex="100" layout="column" layout-align="center center" class="md-title">Brand Form</md-card-title>
    <form flex="100" class="" #taxForm="ngForm">
      <div layout="row" layout-margin>
        <md-input-container flex>
          <input md-input placeholder="Tax Name" minlength="1" maxlength="55" required [value]="tax.name || ''"
                 [(ngModel)]="tax.name" name="name">
          <md-hint align="end">{{tax.name?tax.name.length:0}} / 55</md-hint>
        </md-input-container>
      </div>


      <div layout="row" layout-margin>
        <div flex *ngIf="!tax.retail_shop_id" layout-align="end end">
          <md-select md-input placeholder="Select a Shop" [(ngModel)]="tax.retail_shop" name="shop" required>
            <md-option *ngFor="let shop of shops" [value]="shop">
              {{shop.name}}
            </md-option>
          </md-select>
        </div>
        <md-input-container flex *ngIf="tax.retail_shop_id">
          <input md-input [value]="tax.retail_shop.name" [readOnly]="true" [disabled]="true" type="text">
        </md-input-container>

        <md-input-container flex >
          <input md-input [value]="tax.value" name="value" [(ngModel)]="tax.value" type="number" required min="0"
                 placeholder="value">
        </md-input-container>
      </div>


    </form>
    <md-card-actions layout="row" layout-align="center center" flex class="push-top">
      <button md-icon-button="" md-fab="" md-raised-button="" md-tooltip="cancel"
              (click)="close()" class="pad-xs push-xs" color="accent">
        <md-icon  class="md-24" >close</md-icon>
      </button>
      <span class="pad"></span>
      <button md-icon-button="" md-fab="" md-raised-button="" md-tooltip="undo"
              (click)="cancelState()" class="pad-xs push-xs" color="warn">
        <md-icon  class="md-24" >undo</md-icon>
      </button>
      <span class="pad"></span>
      <button md-icon-button="" md-fab="" md-raised-button="" [disabled]="!taxForm.form.valid"
              (click)="saveState()" class="pad-xs push-xs"  color="primary" md-tooltip="save"
      ><md-icon class="md-24" >done</md-icon>
      </button>

    </md-card-actions>

  </div>
</div>
