<div class=" bgc-white-4 push-sm" flex="100" layout-wrap="" layout="row">

  <div layout="row" layout-align="start center" class="pad-left-sm pad-right-sm" flex="100">
      <span class="push-left-sm">
        <span class="md-title">{{title}}</span>
      </span>
    <span flex></span>
    <td-search-box class=" push-right-sm" placeholder="Search Here.."
                   (searchDebounce)="search($event)" flex="" [showUnderline]="true" [debounce]="500"
                   [alwaysVisible]="true">
    </td-search-box>
  </div>

  <table td-data-table>
    <th td-data-table-column
        *ngFor="let column of columns"
        [sortable]="column.sortable"
        [numeric]="column.numeric"
        (sortBy)="'id'"
        (sort)="'ASC'"
        (sortChange)="sort($event)">
      {{column.label}}
    </th>
    <th td-data-table-column  *ngIf="editRow">edit</th>
    <tr td-data-table-row *ngFor="let row of filteredData">
      <td td-data-table-cell *ngFor="let column of columns"
          [numeric]="column.numeric">
        <app-table-row [value]="row" [column]="column" [format]="column.format"></app-table-row>
      </td>
      <td *ngIf="editRow">
        <button class="small-button" (click)="edit(row, filteredData.indexOf(row))">
          <md-icon md-tooltip="edit" color="accent"  style="cursor: pointer">edit</md-icon>
        </button>
        <span *ngIf="row.hasOwnProperty('is_disabled')">
          <button class="small-button" *ngIf="!row.is_disabled"
                  (click)="toggle(row, filteredData.indexOf(row))">
            <md-icon md-tooltip="disable" color="primary" style="cursor: pointer">sync</md-icon>
          </button>
          <button class="small-button" *ngIf="row.is_disabled"
                  (click)="toggle(row, filteredData.indexOf(row))">
            <md-icon md-tooltip="disable" color="warn" style="cursor: pointer">sync_disabled</md-icon>
          </button>
        </span>
        <span *ngIf="!row.hasOwnProperty('is_disabled')">
          <button class="small-button"
                  (click)="deleteRow(row, filteredData.indexOf(row))">
            <md-icon md-tooltip="disable" color="warn" style="cursor: pointer">close</md-icon>
          </button>
        </span>

      </td>
    </tr>
  </table>

</div>
<div layout="row" layout-wrap="" class="pagination bgc-white-4 tc-black-4 pad-sm">
  <td-paging-bar [pageSizes]="[25, 50, 75, 100]" [total]="filteredTotal"
                 (change)="page($event)"></td-paging-bar>
</div>
<a md-fab color="accent" class="md-fab-position-bottom-right" (click)="add()">
  <md-icon>add</md-icon>
</a>
