<span>
  <button md-button [mdMenuTriggerFor]="posXMenu" class="font-bold-600 tc-accent">
    {{shop?.name || 'Select Shop'}}
  </button>
  <md-menu x-position="before" #posXMenu="mdMenu" class="before">
    <template ngFor [ngForOf]="shops" let-item>
      <button md-menu-item (click)="setShop(item)"> {{item.name}} </button>
    </template>
    <button md-menu-item (click)="setShop()"> Clear </button>
  </md-menu>

    <button md-icon-button [mdMenuTriggerFor]="toolbarMenu"><md-icon>person</md-icon><md-icon>more_vert</md-icon></button>
    <md-menu #toolbarMenu="mdMenu">
      <button md-menu-item (click)="openProfile()">
        <md-icon>person_outline</md-icon>
        <span>Profile</span>
      </button>
      <button md-menu-item (click)="logout()">
        <md-icon>exit_to_app</md-icon>
        <span>Logout</span>
      </button>
    </md-menu>
</span>
