<td-layout-nav logo="assets:logo">
  <div toolbar-content layout="row" layout-align="center center" flex>
    <span>Dashboard</span>
    <span flex></span>
    <a md-icon-button mdTooltip="Docs" href="https://teradata.github.io/covalent/" target="_blank"><md-icon>chrome_reader_mode</md-icon></a>
    <a md-icon-button mdTooltip="Github" href="https://github.com/teradata/covalent" target="_blank"><md-icon svgIcon="assets:github"></md-icon></a>
  </div>
  <router-outlet></router-outlet>
</td-layout-nav>
