<td-layout-nav logo="assets:logo">
  <div toolbar-content layout="row" layout-align="center center" flex>
    <span>Dashboard</span>
    <span flex></span>
    <a md-icon-button mdTooltip="author" href="https://github.com/saurabh1e" target="_blank"><md-icon>person_outline</md-icon></a>
    <a md-icon-button mdTooltip="Github" href="https://github.com/saurabh1e/open-pos-frontend"
       target="_blank"><md-icon svgIcon="assets:github"></md-icon></a>
  </div>
  <router-outlet></router-outlet>
</td-layout-nav>
