<td-layout-nav-list logo="assets:logo" toolbarTitle="Postica"
                    class="bgc-white-1" >
  <div td-toolbar-content layout="row" layout-align="start center" flex>
    <span flex></span>
    <span>{{title}}</span>
    <span flex></span>
    <app-user></app-user>
  </div>


  <md-nav-list td-sidenav-content>
    <a md-list-item
       md-ripple class="block relative"
       [routerLinkActive]="['active']"
       [routerLinkActiveOptions]="{exact:true}"
       [routerLink]="['/dashboard/shops']">
      <md-icon md-list-icon>dashboard</md-icon>
      <span class="tc-grey-800 md-body-1">Dashboard</span>
    </a>
    <a md-list-item
       md-ripple class="block relative"
       [routerLinkActive]="['active']"
       [routerLinkActiveOptions]="{exact:true}"
       [routerLink]="['/inventory/menu']">
      <md-icon md-list-icon>dashboard</md-icon>
      <span class="tc-grey-800 md-body-1">Inventory</span>
    </a>
    <a md-list-item
       md-ripple class="block relative"
       [routerLinkActive]="['active']"
       [routerLinkActiveOptions]="{exact:true}"
       [routerLink]="['/reporting/sales']">
      <md-icon md-list-icon>dashboard</md-icon>
      <span class="tc-grey-800 md-body-1">Reports</span>
    </a>
  </md-nav-list>
  <router-outlet></router-outlet>

</td-layout-nav-list>
