
<div fxLayout="column">
  <div fxLayout="row" class="bgc-white-4" fxLayoutWrap="">
    <md-card-title fxFlex="100" fxLayout="column" fxLayoutAlign="center center" class="md-title">Distributor Form</md-card-title>
    <form fxFlex="100" class="" #distributorForm="ngForm">
      <div fxLayout="row" fxLayout-margin>
        <md-input-container fxFlex>
          <input mdInput placeholder="Distributor Name" minlength="1" maxlength="55" required [value]="distributor.name || ''"
                 [(ngModel)]="distributor.name" name="name">
          <md-hint align="end">{{distributor.name?distributor.name.length:0}} / 55</md-hint>
        </md-input-container>
      </div>


      <div fxLayout="row" fxLayout-margin>
        <div fxFlex *ngIf="!distributor.retail_shop_id" fxLayoutAlign="end end">
          <md-select mdInput placeholder="Select a Shop" [(ngModel)]="distributor.retail_shop" name="shop">
            <md-option *ngFor="let shop of shops" [value]="shop">
              {{shop.name}}
            </md-option>
          </md-select>
        </div>
        <md-input-container fxFlex *ngIf="distributor.retail_shop_id">
          <input mdInput [value]="distributor.retail_shop.name" [readOnly]="true" [disabled]="true" type="text">
        </md-input-container>
      </div>
      <div fxLayout-margin="" fxLayout="row">
        <td-chips placeholder="Enter Emails" name="emails" fxFlex [(ngModel)]="distributor.emails">
        </td-chips>
      </div>
      <div fxLayout-margin="" fxLayout="row">

        <td-chips placeholder="Enter Numbers" type="number" name="numbers" fxFlex [(ngModel)]="distributor.phone_numbers">
        </td-chips>

      </div>


    </form>
    <md-card-actions fxLayout="row" fxLayoutAlign="center end" fxFlex class="push-top">
      <button md-fab="" md-tooltip="cancel"
              (click)="close()" color="accent">
        <md-icon  >close</md-icon>
      </button>
      <span class="pad"></span>
      <button md-fab="" md-tooltip="undo"
              (click)="cancelState()" color="warn">
        <md-icon  >undo</md-icon>
      </button>
      <span class="pad"></span>
      <button md-fab="" [disabled]="!distributorForm.form.valid"
              (click)="saveState()"  color="primary" md-tooltip="save"
      ><md-icon >done</md-icon>
      </button>

    </md-card-actions>

  </div>
</div>
