
h4 {
  border: none;

  letter-spacing: 1px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 15px;
  margin: 0;
  padding: 0 15px;
  background: rgba(0,0,0,.32);
  color: #fff;

}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    border-color: rgba(0,0,0,.06);
    border-bottom: 1px solid rgba(0,0,0,.06);
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,.54);
    a {
      box-sizing: border-box;
      display: block;
      font-size: 13px;
      font-weight:500;
      line-height: 42px;
      cursor: pointer;
      text-decoration: none;
      -webkit-transition: all .3s;
      transition: all .3s;
      padding: 0 16px;
      position: relative;

    }
  }


}
