<div class="push-bottom-lg">
  <nav>
    <h4>Dashboard</h4>
    <ul>
      <li>
        <a
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{exact:true}"
          [routerLink]="['/dashboard/shops']">Shops</a>
      </li>
    </ul>
  </nav>
  <nav>
    <h4>Inventory</h4>
    <ul>
      <li>
        <a
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{exact:true}"
          [routerLink]="['/inventory/products']">Products</a>
      </li>
      <li>
        <a
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{exact:true}"
          [routerLink]="['/inventory/brands']">Brands</a>
      </li>
      <li>
        <a
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{exact:true}"
          [routerLink]="['/inventory/distributors']">Distributor</a>
      </li>
      <li>
        <a
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{exact:true}"
          [routerLink]="['/inventory/salts']">Salts</a>
      </li>
      <li>
        <a
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{exact:true}"
          [routerLink]="['/inventory/tags']">Tags</a>
      </li>
      <li>
        <a
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{exact:true}"
          [routerLink]="['/inventory/taxes']">Taxes</a>
      </li>

    </ul>
  </nav>

  <nav>
    <h4>Stocks</h4>
    <ul>
      <li>
        <a
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{exact:true}"
          [routerLink]="['/stocks/stocks']">Stocks</a>
      </li>
      <li>
        <a
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{exact:true}"
          [routerLink]="['/stocks/expiry']">Expiry</a>
      </li>
      <li>
        <a
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{exact:true}"
          [routerLink]="['/stocks/Shortage']">Shortage</a>
      </li>
      <li>
        <a
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{exact:true}"
          [routerLink]="['/stocks/add-stocks']">Add Stocks</a>
      </li>
      <li>
        <a
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{exact:true}"
          [routerLink]="['/stocks/bills']">Purchase History</a>
      </li>
    </ul>
  </nav>

  <nav>
    <h4>Reports</h4>
    <ul>
      <li>
        <a
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{exact:true}"
          [routerLink]="['/reporting/sales']">Sales Report</a>
      </li>
      <li>
        <a
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{exact:true}"
          [routerLink]="['/reporting/stock-report']">Stock Report</a>
      </li>
      <li>
        <a
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{exact:true}"
          [routerLink]="['/reporting/customer-report']">Customer Report</a>
      </li>
      <li>
        <a
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{exact:true}"
          [routerLink]="['/reporting/orders']">Orders</a>
      </li>
      <li>
        <a
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{exact:true}"
          [routerLink]="['/reporting/customers']">Customer</a>
      </li>
    </ul>
  </nav>
  <nav>
    <h4>Staff</h4>
    <ul>
      <li>
        <a
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{exact:true}"
          [routerLink]="['/staff']">Staff</a>
      </li>

    </ul>
  </nav>

</div>
